@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  font-family: "Oswald";
  color: #2C4259;
}
/*@import url('https://fonts.googleapis.com/css?family=Shrikhand');
*{
    font-family: 'Shrikhand';
    color: #2C4259;
}*/

.impact-hub {
  font-size: 64px; /* or any other desired size */
}

.empowering-communities{
  font-size: xx-large;
  text-align:center;
}

.fostering-unity{
  font-size: xx-large;
  text-align:center;
}

.empowering-individuals{
  font-size: xx-large;
  text-align:center;
}

body {
  background-color: #4CEFB4; /* white */
  font-family: "Oswald";
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align:center;
  font-size:2em;
  font-weight: bold;
  cursor: pointer;
}

.header a {
  color: inherit;
  text-decoration: none;
}

head, link, a {
  font-size: 1em;
  line-height: 1.5;
  margin: 20px 0;
}

.header {
  text-align:center;
  font-size:2em;
  font-weight: bold;
}

.navbar {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div {
  text-align: center;
}